@{
    ViewData["Pinturas Patito"] = "Home Page";
}

<section>
  <div class= "encabezado aligne-items-stretch">
    <img class= "LogoPatito" src="images/LogoPatito.JPG" alt="LogoPatito" width="150px">
    <h1 class="store-name">Tienda de Pinturas Patito</h1>
  </div>
</section>
<div class="container-fluid">
  
  <div class="row">
    <div class="col-4">
        
    </div>
    <div class="col-5">
       
    </div>
  </div>
</div>


        <section id="our-products">
          <div class="our-products">
            <h3>Nuestros Productos</h3>
          
          <section class="cont">
            <h4>Muros y Techos</h4>
            <img src="images/pinta-muro.jpg" alt="pintura muro">
          </section>
          
          <section class="cont">
            <h4> Herreria / Barandales</h4>
            <img src="images/pinta-barandal.jpg" alt="pintura Barandales">
          </section>          
                 
          <section class="cont">
            <h4>Pisos</h4>
            <img src="images/pinta-piso.jpg" alt="pintura Pisos">
          </section>
          </div>

        </section>
      
      
      <section id="about-us" class="about-us">
        <h2>A cerca de Pinturas Patito</h2>
        <br>

        <p> Pinturas Patito es una tienda especializada en la venta de pinturas y accesorios para modificar <br> tus espacios por medio del color, en tu hogar, industria o negocio.<br>
            <br>
            Somos una empresa comprometida a ofrecerte la mejor calidad y precio en productos del ramo, en la zona.</p>
                 <br> <img src="images/compromiso1.jpg" alt="apreton de manos compromiso">
      </section>

      <section id="location" class="location">
       <h2>Ubicación</h2>
          <p> Estamos para servirte en: Calle 4 Ciénegas 83, Centro, 91700 Veracruz, Ver.</p>
          <a title= "Ubicacion-maps" href="https://maps.app.goo.gl/uoft2qR7VPdQdsho7" id="location-map"><img src="images/location.PNG" alt="Ubicacion-maps"/></a>
        </section>
      
      <section id="contact" class="contact">
       <h2>Contacto</h2>
          <p> ¿Tienes alguna duda? ¿comentario? ¿recomendación? ¿queja?</p>
          <p>Acércate, uno de nuestros operadores, con gusto te atenderá!</p>

        <div id="contact-form">
          <form class="contact-form">
              <Fieldset>
                <legend></legend>
            
              <label  class="mail-contact">Correo electrónico</label>
              <br>
              <input type="email" placeholder="Escribe tu correo electrónico" class="mail-contact">
              <br>
              <label class="l-comments">Comentarios:</label>
              <br>
              <textarea name= "comments" rows= "7" cols= "60" placeholder="Cuéntanos ¿cómo podemos ayudarte?"></textarea>
              <br>
              <input type="submit" class="form-button"></button>
              <br>

            </Fieldset>
          </form>
        </div>         
          

        </section>
      <br>
